<div class="container-fluid">
    <div class="row">
        <app-medico-list
            class="col-8"
            [medicos]="medicos"
            (editarMedicoEvent)="editarMedico($event)"
            (eliminarMedicoEvent)="modalConfirmarEliminar($event)">
        </app-medico-list>

        <app-medico-form
            class="col-4"
            [modo]="modoForm"
            [erroresFormBackend]="erroresForm"
            [medico]="medicoSeleccionado"
            [especialidades]="especialidades"
            (cancelar)="modoCrear()"
            (guardarMedico)="guardarMedico($event)">
        </app-medico-form>
    </div>
</div>
