<div class="container-fluid">
    <div class="row">
        <app-paciente-list
            class="col-8"
            [pacientes]="pacientes"
            (editarPacienteEvent)="modoEditar($event)"
            (eliminarPacienteEvent)="modalConfirmarEliminar($event)">
        </app-paciente-list>

        <app-paciente-form
            class="col-4"
            [modo]="modoForm"
            [erroresFormBackend]="erroresForm"
            [paciente]="pacienteSeleccionado"
            (cancelar)="modoCrear()"
            (guardarPaciente)="guardarPaciente($event)">
        </app-paciente-form>
    </div>
</div>

