
<h4> {{ modo === 'crear' ? "Ingresar paciente" : "Editar paciente" }}</h4>


<form [formGroup]="formPaciente" (ngSubmit)="enviarPaciente()">

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control form-control-sm" id="nombre" formControlName="nombre">

        @if (formPaciente.get('nombre')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('nombre')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control form-control-sm" id="apellido" formControlName="apellido">

        @if (formPaciente.get('apellido')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('apellido')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>
    <div class="mb-3">
        <label for="rut" class="form-label">RUT</label>
        <input type="text" class="form-control form-control-sm" id="rut" formControlName="rut">

        @if (formPaciente.get('rut')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('rut')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control form-control-sm" id="telefono" formControlName="telefono">

        @if (formPaciente.get('telefono')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('telefono')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>
    <div class="mb-3">
        <label for="fNacimiento" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control form-control-sm" id="fNacimiento" formControlName="fechaNacimiento">

        @if (formPaciente.get('fNacimiento')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('fNacimiento')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>
    <div class="mb-3">
        <label for="sexo" class="form-label">Sexo</label>
        <select name="sexo" id="sexo" class="form-select form-select-sm" formControlName="sexo">
            <option [ngValue]="null" disabled>Selecciona una opción</option>

            @for (s of listaSexo; track $index) {
                <option [ngValue]="s">{{s}}</option>
            }
        </select>

        @if (formPaciente.get('sexo')?.errors?.['backendError']) {
            <span class="text-danger" role="alert">
                <strong>{{ formPaciente.get('sexo')?.errors?.['backendError'] }}</strong>
            </span>
        }
    </div>

    <!--Botones-->
    <div class="d-flex gap-1">
        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!formPaciente.valid">
            {{ modo === 'crear' ? "Ingresar" : "Guardar cambios" }}
        </button>
        @if (modo === "editar") {
            <button
                type="button"
                class="btn btn-secondary"
                (click)="cancelar.emit()">
                Volver
            </button>
        }
    </div>

</form>


