
<div class="container-fluid">
    <div class="row">
        <app-especialidad-list
            class="col-8"
            [especialidades]="especialidades"
            (editarEspecialidadEvent)="editarEspecialidad($event)"
            (eliminarEspecialidadEvent)="modalConfirmarEliminacion($event)"></app-especialidad-list>

        <app-especialidad-form
            class="col-4"
            [modo]="modoForm"
            [especialidad]="especialidadSeleccionada"
            (cancelar)="modoCrear()"
            (onGuardarEspecialidad)="guardarEspecialidad($event)"></app-especialidad-form>
    </div>
</div>


<!-- MODAL Eliminar Especialidad -->
@if (mostrarModal) {
    <div class="modal-backdrop fade show" ></div>
}

@if (mostrarModal) {
    <div class="modal fade show d-block">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Confirmar eliminación</h5>
                    <button class="btn-close" (click)="cancelarEliminacion()"></button>
                </div>
                <div class="modal-body">
                    ¿Eliminar <strong>{{ especialidadSeleccionada?.nombre }}</strong>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
                    <button class="btn btn-danger" (click)="confirmarEliminacion()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
}



