
<div class="container-fluid">
    <div class="row">
        <app-especialidad-list
            class="col-8"
            [especialidades]="especialidades"
            (editarEspecialidadEvent)="modoEditar($event)"
            (eliminarEspecialidadEvent)="modalConfirmarEliminacion($event)"></app-especialidad-list>

        <app-especialidad-form
            class="col-4"
            [modo]="modoForm"
            [erroresFormBackend]="erroresForm"
            [especialidad]="especialidadSeleccionada"
            (cancelar)="modoCrear()"
            (onGuardarEspecialidad)="guardarEspecialidad($event)"></app-especialidad-form>
    </div>
</div>



