<h4>{{titulo}}</h4>
<a class="btn btn-success btn-sm" routerLink="/especialidades/crear">Añadir especialidad</a>

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>

                @for (e of especialidades; track e.nombre) {
                    <tr>
                        <td>{{e.nombre}}</td>
                        <td class="d-flex gap-2 justify-content-end">
                            <a class="btn btn-sm btn-outline-secondary" href="#">Editar</a>
                            <a class="btn btn-sm btn-outline-danger" href="#">Eliminar</a>
                        </td>
                    </tr>
                } @empty {
                    <tr>
                        <td colspan="6">No hay especialidades médicas aun.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
